<?xml version='1.0' encoding='utf-8'?>
<plugin id="LZPlugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>LZPlugin</name><js-module name="LZPlugin" src="www/LZPlugin.js"><clobbers target="cordova.plugins.LZPlugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="LZPlugin"><param name="ios-package" value="LZPlugin" /></feature></config-file><source-file src="src/ios/LZPlugin.m" /></platform></plugin>